
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body{
    background-color: #F6F8EE;
    overflow-x: hidden;
    margin:0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    min-height: 100%;
}

.card-flora{
   display:flex;
   flex-direction:row;
   position: relative;
   text-align: center;
   width: 100%;
   align-items: center;
   font-size: 20px;
   height: auto;
   justify-content: center;
   /**transform: translateX(25%);  move horizontalmente tudo tipo o right*/
   font-family:'Inter',sans-serif;
   top:-18px;
}
.imagem-logo{
   height: 50px;
}
.verde_IFMG {
   color: #2D541A;
   font-size: 30px;
   font-weight: 400; /* Deixando a letra mais fina */
}

#nada_de_linha{
   text-decoration: none;
}
.logo_texto{
    font-size:30px;
}

footer{
   background-color:#2A511D;
   width: 100%;
   height:100px; 
   line-height:1.7;
   font-size:18px;

}
.caixa_rodape{
   margin:auto;
   text-align: center;
   justify-content: center;
   margin-top: 20px;
   color: #ACE1AF;
   font-size:16px;
   font-weight: 100;
   text-align: center;
}
hr{
   width: 100%;
   height: 2px;
}
header{

   background-color: #fff;
   width: 100%;
}

.divisor{
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-top: 0px;
    margin-left: 8px;
    margin-right: 8px;
}

