.offcanvas{
    display: block;
    width: 30px;
    height: 20px;
    background-color: #f3f3f3;
    border:solid 2px #333;
    border-radius: 50%;
    box-shadow: inset 0 0 2px #000000;
    padding: 10px 5px;
    position:relative;
    top:40px;
    left:50px;
    z-index:10000;
}
/**Apenas criando as linhas do menu (quase desistindo)*/
.menu_o_icone{
    border-top:solid 2px #333;
    position:relative;
    top: 4px;
    pointer-events: none; /* Faz o clique ir direto para o label/input */

}
.menu_o_icone::before, .menu_o_icone::after{
    content:"";
    display:block;
    width: 30px;
    height:2px;
    background-color: #333;
    position:absolute;
    top:5px;
    pointer-events: none; /* Faz o clique ir direto para o label/input */
}
 .menu_o_icone::after{
    top:12px;
    pointer-events: none; /* Faz o clique ir direto para o label/input */
}
/**problema: o menu ocupa espaço da logo*/
.menu{
    
    z-index:9999;
    display: none;
    position:absolute;
    flex-direction: column;
    align-items: center;
    top:100px;
    border-radius: 20%;

    background-color: white;

   

}
.menu ul{
    list-style: none;
    padding: 5px;
    font-size: 20px;
   
}
.menu li a{
    text-decoration: none;
    color:black;
    display: block;
    padding: 15px;
  
    
}
a{
    text-decoration: none;
    color: inherit;  
}
/**so tira a caixa do input*/
#offcanvas{
    display:none;
}

/**OBS checked é Marcado, quando o icone é marcado ai ativa o menu*/
#offcanvas:checked + .menu{
    display:flex;
    overflow:visible;

}
h1{
    font-size:16px;
    font-family: 'Inter', sans-serif;
}
.diminuir_espaco{
    position:relative;
    padding: -3px;
    justify-items: baseline;
    left: 5px;
   
}
.caixa_p{
    position:relative;
    padding: 3%;
    justify-items: baseline;
    left: 5px;
    line-height: 1.35;
    font-size: 26px;
   
}
.caixa_p p{
    margin: 0;
}
.diminuir_espaco h1{
    font-size: 28px;
    line-height: 1.5;
    padding:3%;
}



.container-texto {
    margin-left: 6px;
    /* Cria a barra vertical cinza do lado esquerdo */
    border-left: 2px solid #888888;

    /* Espaço entre a barra e o texto */
    padding-left: 2px;

    /* Garante que os textos fiquem um abaixo do outro */
    display: flex;
    flex-direction: column;
    word-spacing: 0px;
    line-height: 1.3;
}

.c2 {
    display: absolute;
    top: 300px;
    left: 30px;

}

.subtitulo {
    font-family: sans-serif;
    font-size: 9px;
    /**que numero de cor é esse*/
    color: #666666;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.titulo {
    font-family: sans-serif;
    font-size: 20px;
    color: #000000;
    margin: 0;
    padding-left: 1px;
}

.container-texto-c2 {
    margin-left: 6px;
    /* Cria a barra vertical cinza do lado esquerdo */
    border-left: 2px solid #888888;


    /* Espaço entre a barra e o texto */
    padding-left: 2px;

    /* Garante que os textos fiquem um abaixo do outro */
    display: flex;
    flex-direction: column;
    word-spacing: 0px;
    line-height: 1.3;
    /* Muda a localização dele */
    margin-top: -41.5px;
    margin-left: 158px;

}

.container-texto-c3 {
    margin-left: 6px;
    /* Cria a barra vertical cinza do lado esquerdo */
    border-left: 2px solid #888888;


    /* Espaço entre a barra e o texto */
    padding-left: 2px;

    /* Garante que os textos fiquem um abaixo do outro */
    display: flex;
    flex-direction: column;
    word-spacing: 0px;
    line-height: 1.3;
    /* Muda a localização dele */
    margin-top: -41.5px;
    margin-left: 282px;

}

.container-texto-c4 {
    margin-left: 6px;
    /* Cria a barra vertical cinza do lado esquerdo */
    border-left: 2px solid #888888;


    /* Espaço entre a barra e o texto */
    padding-left: 2px;

    /* Garante que os textos fiquem um abaixo do outro */
    display: flex;
    flex-direction: column;
    word-spacing: 0px;
    line-height: 1.3;
    /* Muda a localização dele */
    margin-top: 25;

}

.Imagens {
    font-family: sans-serif;
    font-size: 13px;
    color: #666666;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 41px;

    b {
        color: #000000;
    }
}

.imagens-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.imagens-container img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
}

.info {
    margin-top: 30px;

    p {
        font-family: sans-serif;
        font-size: 18px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 1;
    }

}

.TituloInfo {
    font-size: 26px;
    margin-left: 5px;

}

.localizacao{
    img{
        margin-left: 13px;
    }
}
.TituloLocalizacao {
    font-size: 26px;
    margin-left: 5px;

    p {
        margin-top: -6px;
        margin-left: 2px;
    }

}

.container-texto-L1{
    margin-left: 12px;
    margin-top: 28px;
    /* Cria a barra vertical cinza do lado esquerdo */
    border-left: 2px solid #888888;

    /* Espaço entre a barra e o texto */
    padding-left: 2px;

    /* Garante que os textos fiquem um abaixo do outro */
    display: flex;
    flex-direction: column;
    word-spacing: 0px;
    line-height: 1.3;
}

.container-texto-L2{
    margin-left: 20px;
    /* Cria a barra vertical cinza do lado esquerdo */
    border-left: 2px solid #888888;

    /* Espaço entre a barra e o texto */
    padding-left: 2px;

    /* Garante que os textos fiquem um abaixo do outro */
    display: flex;
    flex-direction: column;
    word-spacing: 0px;
    line-height: 1.3;
    margin-top: -42.5px;
    margin-left: 205px;
}

.container-texto-L3{
    margin-left: 12px;
    margin-top: 20px;
    /* Cria a barra vertical cinza do lado esquerdo */
    border-left: 2px solid #888888;

    /* Espaço entre a barra e o texto */
    padding-left: 2px;

    /* Garante que os textos fiquem um abaixo do outro */
    display: flex;
    flex-direction: column;
    word-spacing: 0px;
    line-height: 1.3;
    margin-bottom: 70px;
}