*{
    box-sizing: border-box;    
}

html, body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    min-height: 100dvh; 

    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}
body{
    background-color: #F5F8EB;
}
header{
    padding: 25px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

menu{
    position: absolute;
    top: 70%;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}

ul, ol{
    font-family: 'inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    padding-left: 20px;
    padding-top: 20px;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    background-color: #F5F5F5;
    border-radius: 20px;
    box-shadow: inset 0px 5px 6px -4px rgba(30, 30, 30, 0.08);
    row-gap: 20px;
}

li{
    font-family: 'inter', sans-serif;
    width: 180px;
}

li a{
    font-size: 21px;
    
}

img{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

span{
    color: #1D4710;
    font-weight: 100;
}

hr{
    border: 1px solid #040404;
    margin: 0;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 780;
    font-size: 55px;
    color: #1D4710;
    margin: 0;
    padding: 0;
}

.botaoBusca{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    display: flex;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #EEEEEE;
    padding: 30px;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.Logo.modo-responsivo {
    position: static;
    transform: none;
}

p{
    font-family: 'inter', sans-serif;
    margin: 10px;
    font-size: 24px;
    text-align: start;
}

.titulo{
    font-size: 27px;
}

.titulopag{
    font-size: 40px;
    font-style: italic;
}

.subtitulo{
    font-size: 20px;
    font-weight: 10;
}

.estatico{
    font-weight: 500;
}

.categoria{
    border-left: 2px solid #6B6B6B;
    padding: 0;

}

.CategoriasIniciais{
    margin: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
}
/*titulo categoria e informação da categoria*/

.titulocat{
    color: #6B6B6B;
    font-size: 12px;
    margin: 4px;
}

.infocat{
    margin: 4px;
}

.imagensPlantasTitulo{
    margin: 15px;
}

.imagensPlantas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    gap: 10px;

}

.imagensPlantas img{
    border-radius: 15px;
}

.caracteristicas{
    margin-top: 50px;
}

.InfoCaracteristicas{
    margin-bottom: 25px;
}

.localizacao{
    margin: 10px;
    margin-bottom: 30px;
}

.CategoriasFinais{
    column-gap: 100px;
}

footer{
    background-color: #2d541a;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.texto-footer{
    color: #ace1af;
    font-size: 14px;
    font-weight: 1;
    font-family: 'roboto', sans-serif;
    margin: 10px;
    padding-top: 10px;
    line-height: 1.5;

}

.botaoMenuPlantas{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'inter', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #F0F1E7;
    border-radius: 100px;
    padding: 25px;
    width: 300px;
    box-shadow: inset 0px 5px 6px -4px rgba(30, 30, 30, 0.08);
    cursor: pointer;
}

button.botaoMenuPlantas{
    border: none;
    justify-content: space-between;
    
}

.Busca{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


#status-text{
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    z-index: 3;
    color: #000000;
}

#loading, #status-text {
    position: relative;
    z-index: 10001;
    color: #ffffff;
}

#SetaIndex, .SetaIndex{
    pointer-events: auto !important;
    position: relative;
    z-index: 10001;
}


.qr-container-wrapper {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botaoQRCode {
    border-radius: 40px;
    justify-content: center;
    padding: 120pt;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F0F1E7;
    box-shadow: inset 0px 5px 6px -4px rgba(30, 30, 30, 0.08);
}
/* QR Code (Código do Matheus, boa parte não olhei muito só coloquei no site Ass.:Gabriel T.) */

#reader {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 320px !important;
    height: 320px !important;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
#reader video { /* meche na imagem da camera*/
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height:100% !important;
    object-fit: cover !important;
    transform: scaleX(-1); /* para inverter o Efeito espelho da biblioteca qr code  */
}
/* Oculta textos e botões injetados por padrão pela biblioteca */
#reader button, #reader select, #reader span, #reader header {
    display: none !important;
}
#reader canvas {
    display: none !important; /* Mantém o motor de análise ativo em background */
}
/* Camada visual por cima do vídeo da câmera */
.app-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    pointer-events: none;
}
#loading {
    min-height: 24px; 
}
/* Alvo central do Scanner */
.scanner-target {
    position: absolute;
    width: 320px;
    height: 320px;
    box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);

}

body.bloquear-cliques{
    pointer-events: none;
}

#scanner-container,
#reader,
.app-overlay,
#upload-btn,
#qr-input,
.SetaIndex,
#reader {
    pointer-events: auto !important;
}
/* Linha Laser Animada */
.laser-line {
    position: absolute;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #0078FF, transparent);
    box-shadow: 0 0 8px #0078FF;
    animation: scanAnimation 2s linear infinite;
}
/*animacao para o scanner, dele subir e descer*/
@keyframes scanAnimation {
    0% { top: 0%; }
    50% { top: 100%; }
    100% { top: 0%; }
}
/* Cantos do Quadrado */
.corner {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid #ffffff;
}
/*É o quadrado no meio da tela */
.top-left { top: 0; left: 0; border-right: none; border-bottom: none; }
.top-right { top: 0; right: 0; border-left: none; border-bottom: none; }
.bottom-left { bottom: 0; left: 0; border-right: none; border-top: none; }
.bottom-right { bottom: 0; right: 0; border-left: none; border-top: none; }
