.offcanvas{
    display: block;
    width: 30px;
    height: 20px;
    background-color: #f3f3f3;
    border:solid 2px #333;
    border-radius: 50%;
    box-shadow: inset 0 0 2px #000000;
    padding: 10px 5px;
    position:relative;
    top:40px;
    left:50px;
    z-index:10000;
}
/**Apenas criando as linhas do menu (quase desistindo)*/
.menu_o_icone{
    border-top:solid 2px #333;
    position:relative;
    top: 4px;
    pointer-events: none; /* Faz o clique ir direto para o label/input */

}
.menu_o_icone::before, .menu_o_icone::after{
    content:"";
    display:block;
    width: 30px;
    height:2px;
    background-color: #333;
    position:absolute;
    top:5px;
    pointer-events: none; /* Faz o clique ir direto para o label/input */
}
 .menu_o_icone::after{
    top:12px;
    pointer-events: none; /* Faz o clique ir direto para o label/input */
}
/**problema: o menu ocupa espaço da logo*/
.menu{
    
    z-index:9999;
    display: none;
    position:absolute;
    flex-direction: column;
    align-items: center;
    top:100px;
    border-radius: 20%;

    background-color: white;

   

}
.menu ul{
    list-style: none;
    padding: 5px;
    font-size: 20px;
   
}
.menu li a{
    text-decoration: none;
    color:black;
    display: block;
    padding: 15px;
  
    
}
a{
    text-decoration: none;
    color: inherit;  
}
/**so tira a caixa do input*/
#offcanvas{
    display:none;
}

/**OBS checked é Marcado, quando o icone é marcado ai ativa o menu*/
#offcanvas:checked + .menu{
    display:flex;
    overflow:visible;

}
h1{
    font-size:16px;
    font-family: 'Inter', sans-serif;
}
.diminuir_espaco{
    position:relative;
    padding: -3px;
    justify-items: baseline;
    left: 5px;
   
}
.caixa_p{
    position:relative;
    padding: 3%;
    justify-items: baseline;
    left: 5px;
    line-height: 1.35;
    font-size: 26px;
   
}
.caixa_p p{
    margin: 0;
}
.diminuir_espaco h1{
    font-size: 28px;
    line-height: 1.5;
    padding:3%;
}
#levar_para_o_centro{
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}