.offcanvas {
    display: block;
    width: 3vw;
    height: 3vh;
    background-color: #f3f3f3;
    border: solid 0.2vh #333;
    border-radius: 50%;
    box-shadow: inset 0 0 0.3vh #959494;
    padding: 1vh 0.5vw;
    position: relative;
    top: 4vh;
    left: 3vw;
}

/**Apenas criando as linhas do menu (quase desistindo)*/
.menu_o_icone {
    border-top: solid 0.2vh #333;
    position: relative;
    top: 0.4vh;
}

.menu_o_icone::before,
.menu_o_icone::after {
    content: "";
    display: block;
    width: 3vw;
    height: 0.2vh;
    background-color: #333;
    position: absolute;
    top: 0.5vh;
}

.menu_o_icone::after {
    top: 1.2vh;
}

/**problema: o menu ocupa espaço da logo*/
.menu {
    z-index: 9999;
    position: absolute;
    top: 8vh;
    border-radius: 1vh;
    width: 20vw;
    background-color: white;
    font-size: 1.2vw;
    height: 0;
    overflow: hidden;
}

.menu ul {
    list-style: none;
    padding: 0.5vh;
    line-height: 1.7;
    font-size: 1.3vw;
}

menu li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 2vh;
}

a {
    text-decoration: none;
    color: inherit;
}

/**so tira a caixa do input*/

#offcanvas {
    display: none;
}

/**OBS checked é Marcado, quando o icone é marcado ai ativa o menu*/
#offcanvas:checked+.menu {
    height: 16vh;
    width: 18vw;
}

h1 {
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    translate: 1vw;
}

.diminuir_espaco {
    position: relative;
    padding: 0;
    justify-items: baseline;
    left: 0.3vw;
    line-height: 1;
}

.caixa_p {
    position: relative;
    padding: 0;
    justify-items: baseline;
    left: 0.3vw;
    line-height: 0.7;
    font-size: 1.8vw;
}

.diminuir_espaco h1 {
    font-size: 32px;
}

hr {
    width: 100%;
    height: 0.2vh;
}

p  { 
    margin-right: 4vw;
    margin-left:4vw;
}

h4  { 
    margin-right: 2vw;
    margin-left:2vw;
}

.border_ajuda {
    margin-right: 2vw;
    margin-left: 2vw;
}