.offcanvas{
    display: block;
    width: 30px;
    height: 20px;
    background-color: #f3f3f3;
    border:solid 2px #333;
    border-radius: 50%;
    box-shadow: inset 0 0 3px #959494;
    padding: 10px 5px;
    position:relative;
    top:40px;
    left:50px;

}
/**Apenas criando as linhas do menu (quase desistindo)*/
.menu_o_icone{
    border-top:solid 2px #333;
    position:relative;
    top: 4px;
}
.menu_o_icone::before, .menu_o_icone::after{
    content:"";
    display:block;
    width: 30px;
    height:2px;
    background-color: #333;
    position:absolute;
    top:5px;
}
 .menu_o_icone::after{
    top:12px;
}
/**problema: o menu ocupa espaço da logo*/
.menu{
    
    z-index:9999;
    position:absolute;
    top:100px;
    border-radius: 10px;
    width: 100;
    background-color: white;
    font-size:16px;
    height:0;
    overflow: hidden;
}
.menu ul{
    list-style: none;
    padding: 18px;
    line-height: 1.7;
    font-size: 20px;
   
}
menu li a{
    text-decoration: none;
    color:black;
    display: block;
    padding: 30px;
  
    
}
a{
    text-decoration: none;
    color: inherit;  
}
/**so tira a caixa do input*/

#offcanvas{
    display:none;
}
/**OBS checked é Marcado, quando o icone é marcado ai ativa o menu*/
#offcanvas:checked + .menu{
    height: 140px;
    width:200px;
}
h1{
    font-size:16px;
    font-family:inter;
}
.diminuir_espaco{
    position:relative;
    padding: -3px;
    justify-items: baseline;
    left: 5px;
    line-height: 1.0;
}
.caixa_p{
    position:relative;
    padding: -3px;
    justify-items: baseline;
    left: 5px;
    line-height: 0.7
}
.diminuir_espaco h1{
    font-size: 28px;
}
.caixa_p{
    position:relative;
    padding: -3px;
    justify-items: baseline;
    left: 5px;
    line-height: 0.7;
    font-size: 26px;
}
/**PARTE DO SCANNER*/
.scanner{
    width: 80%;
    height: 30%;
    border-radius:24px;
    padding:16px;
    box-sizing: border-box;
    background-color: #e4ebf3;
    /**isso mantem o formato em quadrado esse aspecto*/
    transform: translateX(12%);
    display: flex;

}
.borda_scanner{
    width: 200%;
    height:100%;
    display:flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding:20px;
    border-radius:16px;
    /**esse dashed é tracejado*/
    border:3px dashed #000000;
    text-align: center;
    position:relative;
}
.texto_scanner{
    font-size: 16px;
    text-align: center;
    line-height:1.4;
    position :absolute;
    justify-content: center;
    align-items:center;
    top: 130px;
    left:60px;
}
/** botão pricipal da busca*/
.botao{
    display:flex;
    justify-content: center;
    align-items: center;
    /**tranformacao visual, transicao suave do botao**/
    transition: all 0.3s cubic-bezier(0.4,0,0.2,1);
    
}
button{
    padding:30px 130px;
    font-size:18px;
    border-radius: 50px;
    cursor:pointer;
    border:0;
    background-color: #D9D9D9;
    box-shadow: rgb(0 0 0 /5%) 0 0 8px;
    outline:none;
}

/**teste criar um botao e esconder, ae quando clicar no primeiro escondo ele e coloco o segundo vísivel**/
.caixa_pesquisa{
    position:absolute;
    border-radius:50px;
    padding:18px 40px;
    background: #D9D9D9;
    display:none; 
    justify-content: space-between;
    align-items: center;
    top:954px;
    left:40px;
   
}
.pesquisa_texto{
    border:none;
    background: none;
    outline:none;
    line-height: 40px;
    color:white;
    font-size:18px;
}
.pesquisa_btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
button:active{
    display:none;
   
}
