.offcanvas{
    display: block;
    width: 30px;
    height: 20px;
    background-color: #f3f3f3;
    border:solid 2px #333;
    border-radius: 50%;
    box-shadow: inset 0 0 3px #959494;
    padding: 10px 5px;
    position:relative;
    top:40px;
    left:50px;

}
/**Apenas criando as linhas do menu (quase desistindo)*/
.menu_o_icone{
    border-top:solid 2px #333;
    position:relative;
    top: 4px;
}
.menu_o_icone::before, .menu_o_icone::after{
    content:"";
    display:block;
    width: 30px;
    height:2px;
    background-color: #333;
    position:absolute;
    top:5px;
}
 .menu_o_icone::after{
    top:12px;
}
/**problema: o menu ocupa espaço da logo*/
.menu{
    
    z-index:9999;
    position:absolute;
    top:100px;
    border-radius: 10px;
    width: 100;
    background-color: white;
    font-size:16px;
    height:0;
    overflow: hidden;
}
.menu ul{
    list-style: none;
    padding: 5px;
    line-height: 1.7;
    font-size: 20px;
   
}
menu li a{
    text-decoration: none;
    color:black;
    display: block;
    padding: 30px;
  
    
}
a{
    text-decoration: none;
    color: inherit;  
}
/**so tira a caixa do input*/

#offcanvas{
    display:none;
}
/**OBS checked é Marcado, quando o icone é marcado ai ativa o menu*/
#offcanvas:checked + .menu{
    height: 140px;
    width:200px;
}
h1{
    font-size:30px;
    font-family: 'Inter', sans-serif;
}
.diminuir_espaco{
    position:relative;
    padding: -3px;
    justify-items: baseline;
    left: 5px;
    line-height: 1.0;
}
.caixa_p{
    position:relative;
    padding: -3px;
    justify-items: baseline;
    left: 5px;
    line-height: 0.7
}
.diminuir_espaco h1{
    font-size: 28px;
}
.caixa_p{
    position:relative;
    padding: -3px;
    justify-items: baseline;
    left: 5px;
    line-height: 0.7;
    font-size: 26px;
}

.espacamento{
    translate:4%;
    transform: translateY(35px);
}

.espacamento2{
    translate:28%;
    margin-top: 100px;
    transform: translateY(70px);
}

.espacamento3{
    translate:28%;
    margin-top: 100px;
    transform: translateY(-41px);
}

.espacamento4{
    translate:28%;
    margin-top: 100px;
    transform: translateY(-150px);
}

.espacamento5{
    translate:28%;
    margin-top: 100px;
    transform: translateY(-270px);
}

.info{
    translate:28%;
    display: flex;
    gap:19%;
    color: gray;
    transform: translateY(55px);
}

.info1{
    translate:28%;
    display: flex;
    transform: translateY(25px);
    gap:24%;
}

.info2{
    translate:28%;
    display: flex;
    transform: translateY(7px);
    gap:24%;
    color: gray;
}

.info3{
    translate:28%;
    display: flex;
    transform: translateY(-2px);
    gap:24%;
}

.info4{
    translate:28%;
    display: flex;
    gap:19%;
    color: gray;
    transform: translateY(-60px);
}

.info5{
    translate:28%;
    display: flex;
    gap:18%;
    transform: translateY(-90px);
}

.info6{
    translate:28%;
    display: flex;
    transform: translateY(-111px);
    gap:24%;
    color: gray;
}

.info7{
    translate:28%;
    display: flex;
    transform: translateY(-120px);
    gap:24%;
}

.info8{
    translate:28%;
    display: flex;
    transform: translateY(-170px);
    gap:18%;
    color: gray;
}

.info9{
    translate:28%;
    display: flex;
    gap:34%;
    transform: translateY(-200px);
}

.info10{
    translate:28%;
    display: flex;
    transform: translateY(-220px);
    gap:18%;
    color: gray;
}

.info11{
    translate:28%;
    display: flex;
    gap:34%;
    transform: translateY(-230px);
}

.info12{
    translate:28%;
    display: flex;
    transform: translateY(-289px);
    gap:18%;
    color: gray;
}

.info13{
    translate:28%;
    display: flex;
    gap:31%;
    transform: translateY(-320px);
}

.info14{
    translate:28%;
    display: flex;
    transform: translateY(-335px);
    gap:18%;
    color: gray;
}

.info15{
    translate:28%;
    display: flex;
    gap:34%;
    transform: translateY(-350px);
}



